<div class="container" ng-app="tracksApp">

  <h2 class="form_cat"><%=@category.name%> {{'>' + titleName.message}}</h2>
  <p>

  <div id="row_course_selection"  class="row">

  </div>


  <div ng-controller="newTrack">


    <div id="search_bar">
      <input ng-model="courseSearch" class= "form-control search_bar_courses" placeholder="Search course/scroll">
    </div>

    <div id="sidebar_course_choices" class="sidebar" ng-mousedown="removeMessage()">
       <li ng-repeat="course in courses" data-id="{{course.id}}" class="col-xs-12 col-md-12" ng-show="course.name.toLowerCase().search(courseSearch)>-1 || course.platform.name.toLowerCase().search(courseSearch)>-1 || course.dragged==true" ng-mousedown="addCheck(course)">
          <div class="thumbnail course_box">
          <div class="course_in_form"><img class="logo center-block" src="{{course.platform.logo_url}}" alt=""></div>
          <div class="course_title"><a href="{{course.url}}" target="_blank">{{course.name}}</a></div>

          <div class="ratings" ng-bind-html="course.ratingsView" style="
    margin-top: 5px"></div>
          <img class="icon_course" src="{{course.photo_url}}">

      </li>
    </div>





    <%= form_tag category_tracks_path, :class => "track_drag form-group" do %>
      <%= label_tag "test", "test" %>
      <%= text_field_tag(:name, '',placeholder: 'Title', :class=> 'form-control', "ng-model" => "titleName.message")%>
      <%= text_area_tag(:description, '',placeholder: 'Description', :class=> 'form-control')%>
      <input ng-repeat="course in courses" style="display: none" type="checkbox" name="course[{{course.id}}]" id="course_{{course.id}}" value="{{course.id}}">
        <%= hidden_field_tag(:order)%>
      <%= submit_tag 'Create your Track', :class=> 'btn btn-success form-control' %>
    <%end%>

  </div>

</div>

